.carousel {
  position: relative;
  width: 100%;
  max-width: 1750px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.banner {
  height: auto;
  background-color: #ffffff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-section {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
  padding: 50px 20px;
  text-align: center;
  margin-top: 40px;
  border-radius: 10px;
}

.step {
  width: 30%;
  background-color: #F6F6F4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.step:hover {
  transform: scale(1.05);
}

.step-number {
  width: 50px;
  height: 50px;
  background-color: #151515;
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.step h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step p {
  font-size: 14px;
  margin-bottom: 15px;
}

.step button {
  background-color: #151515;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.step button:hover {
  background-color: #333;
}
