/* General Styles for Login Page */
.login-page body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255) !important;
  box-sizing: border-box;
}

.login-page main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Login Container */
.login-container {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.login-container:hover {
  transform: translateY(-5px);
}

.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-input-field {
  margin-bottom: 15px;
}

.login-input-field label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #151515;
}

.login-input-field input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color: white;
}

.login-input-field input:focus {
  border-color: #b74533;
  outline: none;
}

/* Forgot Password Link */
.forgot-password {
  margin-top: 10px;
  text-align: center;
}

.forgot-password a {
  text-decoration: none;
  color: #42A5F5;
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Button Styles */
.login-container button {
  background-color: #b74533;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
  margin-right: 10px;
}

.login-container button:hover {
  background-color: #333;
  transform: translateY(-2px);
}

/* Signup Container */
.signup-container {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.signup-container:hover {
  transform: translateY(-5px);
}

.signup-container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.signup-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.signup-link {
  background-color: #b74533;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signup-link:hover {
  background-color: #333;
  transform: translateY(-2px);
}