
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
    --primary-color: #a73230;
    --primary-hover-color: #8d0805;
    --text-color-dark: rgb(14, 1, 1);
    --text-color-light: #555;
    --heading-color: #a51310;
}

.reset-password-container {
    font-family: 'Titan One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f6f4; 
    color: #000; 
    width: 100vw;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.reset-password-box {
    background-color: white;
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    border: 1px solid #ddd; 
    box-sizing: border-box;
}

.reset-password-box h2 {
    text-align: center;
    margin-bottom: 30px; 
    color: var(--heading-color); 
    font-size: 2rem; 
}

.reset-password-box label {
    display: block;
    margin-bottom: 10px; 
    font-size: 1.1rem; 
}

.reset-password-box input {
    width: calc(100% - 22px); 
    padding: 12px; 
    margin-bottom: 20px; 
    border: 1px solid #ddd;
    border-radius: 6px; 
    box-sizing: border-box;
    font-size: 1em; 
}

.reset-password-button {
    background-color: black; 
    color: white;
    padding: 12px 20px; 
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s; 
    font-size: 1em; 
}

.reset-password-button:hover {
    background-color: var(--primary-hover-color); 
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 20px; 
    font-size: 1em; 
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px; 
    font-size: 1em; 
}


@media (max-width: 768px) {
    .reset-password-box {
        padding: 20px;
    }

    .reset-password-box h2 {
        font-size: 1.8rem;
    }
}