.reviews {
  padding: 50px 0;
  background: #111;
}

.review-section{
  padding: 60px 20px;
}

.review-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.review-card {
  position: relative;
  flex: 0 0 300px;
  padding: 35px;
  background: #222;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 190px;
}

.review-text {
  color: rgb(255, 235, 217);
  font-size: 1.45rem;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.review-name {
  font-weight: 775;
  margin-top: 1px;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.stars {
  color: gold;
  font-size: 1.2rem;
}

.review-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffe0cb;
  margin-bottom: 10px;
  margin-top: auto;
}

.review-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  opacity: 0.8;
}

.stars {
  color: gold;
  font-size: 1.2rem;
  margin: 5px 0;
}

.verified-badge {
  font-size: 0.9rem;
  color: #28a746b5; /* Green for trust */
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.tick-icon {
  color: #28a746e3;
  font-size: 1rem;
}
